$icon-size    : 60px;
$border-radius: 0.5;//15% = 0.15, 50% = 0.50 etc.

$background   : #2d2c3e;
$background-b : #2d2c3e;

// Icon Colors
$green        : #16A085;
$red          : #C82647;
$green-l      : #8CC63F;
$orange       : #EB9532;
$purple       : #7E3661;

// Text
$white        : #FFFFFF;
